<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icons8-task-100.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="header_body">
        <ul>
            <li><a href="{% url 'index' %}"><i class="fa-solid fa-house-user"></i> На главную</a></li>
            <li>
                <p></p>
                <form action="" method="post">
                    <p class="username_p"></p>
                    <a>
                        <i class="fa-solid fa-right-from-bracket"></i> <input class="logout_btn" type="submit"
                                                                              value="Выход">
                    </a>
                </form>
            </li>
            <li><a class="login_btn" href=""><i class="fa-solid fa-right-to-bracket"></i> Вход</a></li>
            <li><a class="login_btn" href=""><i class="fa-solid fa-user-plus"></i> Регистрация</a>
            </li>
        </ul>
        {% block header_block %}
        {% endblock %}
    </div>
</header>
<div class="wrapper">
    <div class="photo_block">
        {% block photo_block %}
        {% endblock %}
    </div>
</div>
</body>
</html>