{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Добавить{% endblock %}

{% block header_block %}
{% endblock %}

{% block photo_block %}
<div class="container">
    <div class="create_photo_block">
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type='submit' content='Добавить фото' %}
        </form>
    </div>
</div>
{% endblock %}