{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block header_block %}
{% endblock %}

{% block photo_block %}
<div class="container">
    <div class="imgs_block">
        {% for p in photos %}
        <div class="img_item">
            <a href="{% url 'photo' p.pk %}">
                <img class="img" src="{{ p.image.url }}" alt="">
            </a>
            <div class="content">
                <p class="created_date">Добавлена: <b>{{ p.created_at|date:"d-M-Y H:i" }}</b></p>
                <p>Автор: <b>{{ p.author }}</b></p>
                <p>Подпись: <b>{{ p.signature }}</b></p>
                <form action="{% url 'favourite' p.pk %}">
                    {% csrf_token %}
                    {% bootstrap_form favourite_form %}
                    {% bootstrap_button button_type='submit' content='Добавить в избранное' %}
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}